<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/styles/styles.css">
	<title></title>
</head>
<body>
	<h1>Phethulwazi'z Website</h1>
	<p>Phethulwazi created this website</p>
</body>
</html>