<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/styles/styles.css">
	<title></title>
</head>
<body>
	<h1>Success</h1>
	<p>Thank you for contacting us</p>
	<p><%=data.who%> from the <%=data.dept%> department will get in touch with you</p>
</body>
</html>