<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/styles/styles.css">
	<title></title>
</head>
<body>
	<h1><%= data.name %>'s profile page</h1>
	<p>Age : <%= data.age%></p>
	<p>Job : <%= data.Job%></p>
	<h2>Programming Languages</h2>
	<ul>
		<% data.lan.forEach(language => { %>
		<li><%= language %></li>
		<% }); %>
	</ul>
</body>
</html>