<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/styles/stylesheet.css">
</head>
<body>
	<div id="todo-table">
		<form method="POST" action="/todo">
			<input type="text" name="item" placeholder="add item" required/>
			<button type="submit">Add</button>
		</form>
		<ul>
			<% todos.forEach(todo => { %>
			<li><%=todo.item%></li>
			<% }); %>
		</ul> 
	</div>
</body>
</html>